.dateTimebox{
    display: flex;
    align-items: center;
    justify-content: start;
    input{
    min-height: 6vh;
    border: 1px solid #efefef;
    outline: none;
    width: 100%;
    padding: 3px;
    margin-right: 11px;
    font-size: 15px;
    }
}
    // .cdk-overlay-pane{
    //     top: 184.5px !important;
    //     left: 503.656px !important;
    //     transform: translateY(-176px) !important;
    // }
