input.date-input::-webkit-calendar-picker-indicator {
  opacity: 0.5;
  cursor: pointer;
  filter: var(--calendar-icon-filter, none);
}

input.date-input::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

input.date-input::-webkit-datetime-edit {
  color: var(--search-placeholder);
}

input.date-input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}